## Postgres ##
export PSQL_PASSWORD=
export PSQL_USERNAME=postgres
export PSQL_HOST=localhost
export PSQL_PORT=5432
export PSQL_DB=customers_demo

## Snowflake ###
export SNOWFLAKE_USERNAME=foo
export SNOWFLAKE_PASSWORD=bar

## Kafka ##
export KAFKA_BOOTSTRAP_SERVER=localhost:9092

## Confluent connector ##
export CONFLUENT_KEY=abc
export CONFLUENT_SECRET=def

if [ -f ".envrc-personal" ]; then
	echo ".envrc-personal exists, sourcing..."
	source .envrc-personal
fi