# GoReleaser
dist/*

# Ignore mocks
**/*.mock.go

.envrc-personal

# Terraform stuff
config/.terraform*


.personal/
scratch/

# Local .terraform directories
**/.terraform.lock.hcl
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*

## Ignore virtual env from the integration tests
integration_tests/parquet/venv/
