outputSource: test

kafka:
  bootstrapServer: 0.0.0.0:29092
  groupID: abc1234
  topicConfigs:
    - db: customers
      tableName: customers
      schema: public
      topic: "mysql1.inventory.customers"
      cdcFormat: debezium.mysql
      # cdcKeyFormat: org.apache.kafka.connect.json.JsonConverter
      # If you turn this on, make sure to check connect-distributed.properties for key.converter
      # cdcKeyFormat: org.apache.kafka.connect.storage.StringConverter
      cdcKeyFormat: org.apache.kafka.connect.json.JsonConverter
      dropDeletedColumns: true
      softDelete: false
