name: Go tests
run-name: Running tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Run staticcheck
        env:
          SC_VERSION: 2023.1.7
        run: |
          SC_URL=https://github.com/dominikh/go-tools/releases/download/$SC_VERSION/staticcheck_linux_amd64.tar.gz
          wget -q ${SC_URL} -O - | tar -xzf - --strip-components 1 -C /usr/local/bin staticcheck/staticcheck
          make static
      - name: Run test
        run: make test
      - name: Run race condition check
        run: make race
